---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Us – Jaybee Enterprises" description="Learn about Jaybee Enterprises">
  <h1>About Jaybee Enterprises</h1>
  <p>Jaybee Enterprises is a Icelandic game server hosting company committed to providing reliable game server hosting solutions.</p>
</BaseLayout>
